*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

.game-logo {
    width: 45px;
    height: 45px;
}

.game-logo.small {
    width: 35px;
    height: 35px;
}

.ant-table-row-expand-icon.ant-table-row-expand-icon-collapsed {
    border-color: #69b1ff;
    color: #69b1ff;
}